@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.question-container {
  min-height: 80vh;
  width: 100%;
  padding: 1rem 0;
  display: grid;
  place-content: center;
  font-family: JetBrains Mono;
  transition: all 0.3s linear;
}
.question-cards {
  display: grid;
  margin: 20px auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  pointer-events: none;
}
@media screen and (min-width: 992px) {
  .question-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: start; */
  }
}
.question-card {
  max-width: 15rem;
  color: #ffffffda;
  padding: 1.5rem;
  background-color: #112240;
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  transition: all 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.tag {
  position: relative;
}
.question-cards .links {
  display: flex;
  flex-direction: column;
}
.question-card .links > a {
  text-decoration: none !important;
  color: aliceblue !important;
  padding: 5px 0;
}
.question-card .links > a:hover {
  color: #7dcfff !important;
}
.hints {
  display: flex;
  flex-direction: column;
}
.hints > p {
  margin: 5px 0;
}
.date {
  color: #bb86fc;
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 0.9rem;
}

.question-cards:hover > .question-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.question-cards:hover > .question-card:not(:hover) {
  opacity: 0.5;
}
.buttons {
  display: flex;
  gap: 5px;
  margin-top: 1rem;
}
.btn {
  border: none;
  border-radius: 1rem;
  padding: 5px 10px;
  color: #413c69;
  background-color: #bb86fc;
  
}
