.container {
  min-height: 80vh;
  transition: all 0.3s linear;
}

h2 {
  color: aqua;
  width: auto;
  margin: auto;
}
form {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  padding: 90px 70px;
  background-color: #112240;
  margin: 60px auto;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.forms label {
  display: block;
  margin: 10px;
  text-align: left;
  font-size: 20px;
  color: #bb86fc;
}

.forms input {
  padding: 10px;
  outline: none;
  border-radius: 30px;
  background-color: #223f72;
  border: none;
  color: white;
}
.forms input:active {
  background: #223f72;
}

.forms button {
  border-radius: 20px;
  margin-top: 10px;
  background-color: transparent;
  color: #64ffda;
  border: 2px solid #64ffda;
  font-size: 20px;
  font-family: JetBrains Mono Regular;
  margin: auto;
}
button:hover {
  transform: scale(1.03);
  box-shadow: 0 8 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 1;
}
.forms p {
  color: rgb(158, 152, 152);
}

.forms p a {
  color: aqua;
  text-decoration: none;
}
.forms p a:hover {
  color: #bb86fc;
}
