h2 {
  color: #64ffda;
  width: auto;
  margin: auto;
  font-weight: normal;
  padding-bottom: 20px;
}

form {
  min-width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
  gap: 25px;
  text-align: left;
  padding: 60px 80px;
  background-color: #112240;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px auto;
  border-radius: 30px;
  transition: all 0.3s linear;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.create label {
  display: block;
  margin: 7px;
  text-align: left;
  font-size: 20px;
  color: #bb86fc;
}

.create input {
  width: 80%;
  padding: 20px;
  outline: none;
  border-radius: 30px;
  background-color: #223f72;
  border: none;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.create select {
  width: 80%;
  padding: 20px;
  outline: none;
  border-radius: 30px;
  background-color: #223f72;
  border: none;
  color: white;
}

.create input:focus {
  background: #223f72;
  border: 2px solid #4299e1;
}

.create button {
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: transparent;
  color: #64ffda;
  border: 2px solid #64ffda;
  font-size: 20px;
  font-family: JetBrains Mono Regular;
  margin-right: auto;
}

.create .types-container {
  display: flex;
  flex-wrap: wrap;
}

#demoID3 {
  margin: auto;
  left: 25%;
  height: 35.5%;
}

.sliderBody {
  display: unset;
}

.sliderBody form {
  min-width: 100%!important;
  margin: 0px!important;
  border-radius: 0px!important;
}

.sliderBody input {
  width: 80%;
  padding: 20px;
  outline: none;
  border-radius: 30px;
  background-color: #223f72;
  border: none;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sliderBody button {
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: transparent;
  color: #64ffda;
  border: 2px solid #64ffda;
  font-size: 20px;
  font-family: JetBrains Mono Regular;
  margin-right: auto;
}