input[type=checkbox]{
    display:none;
}

span{
    /* font-weight:bold; */
    font-size:1rem;
    border:3px solid #9ece6a;
    border-radius:30px;
    cursor:pointer;
    padding:5px 10px;
    color:aliceblue;
    margin-right:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

input[type=checkbox]:checked + span{
    background:#9ece6a;
    color:black;
}