.types-input {
	display: flex;
	align-items:center;
	flex-wrap: wrap;
	
}
.types-input {
    border:none;
}
.types{
    display:flex;
    flex-wrap:wrap;
    
}
.type{
    /* width:auto; */
    height:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#24283b;
    padding:20px 20px;
    font-size:1rem;
    list-style:none;
    background:#c0caf5;
    border-radius:20px;
    text-align: center;

}
.close-icon{
    display:inline-flex;
    align-items:center;
    width:1rem;
    height:1rem;
    line-height:1rem;
    font-size:13px;
    margin-left:0.5rem;
    color:#73daca;
    border-radius:50%;
    text-align: center;
    cursor:pointer;
    background-color: #1a1b26;
}

/* @media screen and (max-width: 567px) {
	.tags-input {
		width: calc(100vw - 32px);
	}
} */


